<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="A1">
    <classes>
      <class name="Homeworks.T2"/>
      <class name="Homeworks.U1"/>
      <class name="Homeworks.U_2"/>
      <class name="Homeworks.A1"/>
      <class name="Homeworks.Uma1"/>
    </classes>
  </test> <!-- A1 -->
</suite> <!-- Suite -->
